.footer {
  background-color: var(--clr-darkblue);
  color: var(--clr-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__content-left {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.footer__title {
  display: none;
  font-size: var(--size-xs);
  font-weight: 700;
}
.footer__container {
  display: flex;
  gap: 0.5rem;
}
.footer__label {
  font-size: var(--size-xs);
  font-weight: 700;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__wrapper {
  display: flex;
  gap: 0rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}
.footer__list-right {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  gap: 0.5rem;
}
.footer_listitem {
  font-size: var(--size-xxs);
  font-weight: 700;
}

.footer__content-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: right;
}
.footer__content-contactinfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__content-label {
  display: none;
  font-size: var(--size-xxs);
  font-weight: 700;
}
.footer__content-hours {
  font-size: var(--size-sm);
  font-weight: 700;
  display: none;
}
.footer__content-createdby {
  display: none;
}
.footer__content-createdbytext {
  font-size: var(--size-xxs);
}
.footer__content-highlight {
  font-size: var(--size-base);
  font-weight: 700;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .footer__title {
    display: block;
  }
  .footer__content-label {
    display: block;
  }
  .footer__content-createdby {
    display: flex;
    gap: 1rem;
  }
  .footer__content-hours {
    display: block;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .footer__container {
    display: flex;
    gap: 2rem;
  }
  .footer__title {
    font-size: var(--size-base);
    font-weight: 700;
  }
  .footer__label {
    font-size: var(--size-base);
    font-weight: 700;
  }
  .footer_listitem {
    font-size: var(--size-sm);
    font-weight: 700;
  }
  .footer__content-label {
    font-size: var(--size-sm);
    font-weight: 700;
  }
  .footer__content-hours {
    font-size: var(--size-xl);
    font-weight: 700;
  }
  .footer__content-createdbytext {
    font-size: var(--size-sm);
  }
  .footer__content-highlight {
    font-size: var(--size-lg);
    font-weight: 700;
  }
}

/* xl */
@media (min-width: 1280px) {
  .footer {
    display: flex;
    flex-direction: row;
    gap: 20rem;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
