.gallerysection {
  display: none;
}
.gallerysection__item {
  cursor: pointer;
  transition: 0.5s;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1536px) {
  .gallerysection {
    display: block;
  }
  .gallerysection__content {
    display: flex;
  }
  .gallerysection__item {
    flex-basis: 33.3%;
  }
}
