.welcomesection {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.welcomesection__content {
  display: flex;
  gap: 7rem;
  margin-left: 0;
}
.welcomesection__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcomesection__textcontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.welcomesection__image {
  display: none;
}

.welcomesection__title {
  text-align: center;
  color: var(--clr-black);
  font-size: var(--size-5xl);
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;

  margin-bottom: 8rem;

  font-family: "Bebas Neue";
}
.welcomesection__text-title {
  color: var(--clr-black);
  font-weight: 600;

  text-align: center;

  font-size: var(--size-xl);
}
.welcomesection__description {
  color: var(--clr-black);
  font-weight: 500;

  text-align: left;

  font-size: var(--size-base);
  max-width: 40rem;
}

.welcomesection__button {
  display: inline-block;
  max-width: 15rem;

  border: 2px solid #101828;
  border-radius: 5rem;

  cursor: pointer;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  transition: 0.6s;
}
.welcomesection__button:hover {
  transform: scale(1.1);
  background-color: var(--clr-hovergray);
}
.welcomesection__buttontext {
  color: var(--clr-black);
  font-weight: 700;

  font-size: var(--size-2xl);
}
/* xs */
@media (min-width: 475px) {
  .welcomesection__title {
    font-size: var(--size-6xl);
  }
  .welcomesection__text-title {
    text-align: left;
    font-size: var(--size-2xl);
  }
}

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {
} */

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
@media (min-width: 1536px) {
  .welcomesection__image {
    display: inline-block;
    margin-top: -5rem;
  }
}
