:root {
  --clr-white: #f9fafb;
  --clr-black: #000000;
  --clr-gray: #f9fafbdf;
  --clr-darkblue: #101828;
  --clr-hovergray: #899499;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";

  background-color: var(--clr-white);
  background-image: url("../Images/noise.png");
  color: var(--clr-black);
}
body.page-transition {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-darkblue);
  outline: 1px solid var(--clr-darkblue);
}

/* button {
  display: inline;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
} */
